header {
    padding-top: 10px;
}

.bg-gray {
    background-color: rgb(240, 240, 240);
}

.text-gray {
    color: rgb(172, 172, 172);
}

ul {
    font-size: 125%;
    list-style-type: none;
}

.container-fluid {
    position: relative;
}

.nav-title {
    position: absolute;
    left: 0;
    right: 0;
    top: 7px;
    margin-left: auto;
    margin-right: auto;
    width: 8%;
}

.anchor-none,
.anchor-none a {
    text-decoration: none;
    color: inherit;
}

button {
    padding-left: 20px !important;
    padding-right: 20px !important;
    border-radius: 0 !important;
}